
.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.wrapper {
    width: 960px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 90px 30px;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        flex: 1;
        font-size: 20px;
        color: #333;
        text-align: center;
        text-transform: uppercase;
    }

    .form {
       flex: 1;
    }

    .remember {
        padding-left: 8px;
    }
    .submit-btn {
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
        text-transform: uppercase;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        background: #57b846;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        transition: all .4s;
        &:hover {
            background-color: #333;
        }
    }
}


.input {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
    {
        box-shadow: 0 0 0 30px #e6e6e6 inset !important;
    }
    background-color: #e6e6e6;
    border-radius: 20px;
    input,
    svg {
        fill: #666;
        background-color: #e6e6e6;
    }
}