.site-layout {
    margin-left: 200px;
    transition: all 0.2s;
    &.collapsed-close {
        margin-left: 80px;
    }
}

.container {
    margin: 0 24px;
    .breadcrumb {
        margin: 16px 0;
    }
    .content {
        background-color: #fff;
        padding: 24px;
        min-height: 360px;
    }

}